/* Import Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

body {
  font-family: "PT Serif", serif;
  background-image: url("../../Images/background.jpg");
  color: whitesmoke;
  width: 100%;
}

#mainPage {
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
  margin-top: 20vh;
  margin-left: 25vw;
}

#form {
  font-size: 80px;
}

/* Responsive Media Queries */
@media (min-width: 960px) and (max-width: 1100px) {
  #form {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  #form {
    font-size: 30px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  #mainPage {
    line-height: 2em;
  }

  #form  {
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  #mainPage {
    width: 100vw;
    height: 100vh;
    padding-bottom: 50%;
  }

  #form  {
    font-size: 25px;
    margin-bottom: 5%;
  }
}
